<table class="main-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Frutas</th>
      <th>Verduras</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let values of catchValues$ | async">
      <td>{{ values.id }}</td>
      <td>{{ values.fruta }}</td>
      <td>{{ values.verdura }}</td>
      <td><button>Editar</button></td>
    </tr>
  </tbody>
</table>

<div>
    {{titleValue}}
    {{titleValue2}}
</div>

<button (click)="criarFruta()">
    Criar uma nova fruta
</button>

